html {
	font-family: sans-serif;
}

.draws {
	text-align: center;

}
#previous {
	text-align: center;
	p {
		padding-bottom: 0.4em;
		border-bottom:1px solid rgba(0,0,0,0.3);
	}
}

#button {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width:100%;
	max-width: 250px;
	text-align: center;
	background-color: #000;
	color:#fff;
	line-height: 4;
	margin: 0 auto;
	margin-top: 4em;
}
