html {
  font-family: sans-serif; }

body {
  background-color: #fafafa; }

.draws {
  text-align: center; }

#previous {
  text-align: center;
  margin-top: 2em; }
  #previous p {
    padding-bottom: 0.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

#button {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  max-width: 250px;
  text-align: center;
  background-color: #000;
  color: #fff;
  line-height: 4;
  margin: 0 auto;
  margin-top: 4em; }

#navbar {
  background-color: #fff;
  margin-bottom: 1em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3); }

#settings {
  transition: all 0.3s;
  opacity: 0;
  height: 0;
  overflow: auto; }
  #settings:target {
    opacity: 1;
    height: 10em;
    max-height: auto;
    overflow: visible;
    display: block;
    transition: all 0.3s; }
    #settings:target .panel {
      margin-bottom: 1em;
      transition: all 0.3s;
      height: auto;
      max-height: initial; }
    #settings:target + #navbar {
      display: none; }
  #settings .panel {
    transition: all 0.3s;
    overflow: auto;
    height: 0;
    max-height: 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3); }
    #settings .panel .question {
      text-align: left; }
    #settings .panel [type="text"], #settings .panel [type="tel"] {
      box-sizing: border-box;
      display: inline-block;
      height: 48px;
      text-align: center; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic2NyZWVuLmNzcyIsInNvdXJjZXMiOlsic2NyZWVuLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiJHB1cmV3aGl0ZTogI2ZmZjtcbiR3aGl0ZTogI2ZhZmFmYTtcbiRzaGFkb3djb2xvcjogcmdiYSgwLDAsMCwwLjMpO1xuJHNoYWRvd3NpemU6IDhweDtcbiRhbmltZmFzdGVzdDogMC4xcztcbiRhbmltZmFzdDogMC4zcztcbiRhbmltc2xvdzogMC44cztcbiRhbmltc3VwZXJzbG93OiAxMnM7XG5cbkBtaXhpbiBzaGFkb3coKSB7XG5cdGJveC1zaGFkb3c6IDAgMCAkc2hhZG93c2l6ZSAkc2hhZG93Y29sb3I7XG59XG5cbkBtaXhpbiBib3h6KCRmYWN0b3JfKXtcblx0JHNoYWRvd3NpemU6ICRmYWN0b3JfICogMjVweDtcblx0Ym94LXNoYWRvdzogMCAwICRzaGFkb3dzaXplICRzaGFkb3djb2xvcjtcbn1cblxuaHRtbCB7XG5cdGZvbnQtZmFtaWx5OiBzYW5zLXNlcmlmO1xufVxuXG5ib2R5IHtcblx0YmFja2dyb3VuZC1jb2xvcjogJHdoaXRlO1xufVxuXG4uZHJhd3Mge1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cbn1cbiNwcmV2aW91cyB7XG5cdHRleHQtYWxpZ246IGNlbnRlcjtcblx0bWFyZ2luLXRvcDogMmVtO1xuXHRwIHtcblx0XHRwYWRkaW5nLWJvdHRvbTogMC40ZW07XG5cdFx0Ym9yZGVyLWJvdHRvbToxcHggc29saWQgcmdiYSgwLDAsMCwwLjMpO1xuXHR9XG59XG5cbiNidXR0b24ge1xuXHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XG5cdHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG5cdGRpc3BsYXk6IGJsb2NrO1xuXHR3aWR0aDoxMDAlO1xuXHRtYXgtd2lkdGg6IDI1MHB4O1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cdGJhY2tncm91bmQtY29sb3I6ICMwMDA7XG5cdGNvbG9yOiNmZmY7XG5cdGxpbmUtaGVpZ2h0OiA0O1xuXHRtYXJnaW46IDAgYXV0bztcblx0bWFyZ2luLXRvcDogNGVtO1xufVxuXG4jbmF2YmFyIHtcblx0YmFja2dyb3VuZC1jb2xvcjogJHB1cmV3aGl0ZTtcblx0bWFyZ2luLWJvdHRvbTogMWVtO1xuXHRAaW5jbHVkZSBzaGFkb3coKTtcblx0QGluY2x1ZGUgYm94eig0KTtcbn1cblxuI3NldHRpbmdzIHtcblx0dHJhbnNpdGlvbjogYWxsICRhbmltZmFzdDtcblx0b3BhY2l0eTowO1xuXHRoZWlnaHQ6IDA7XG5cdG92ZXJmbG93OiBhdXRvO1xuXHQmOnRhcmdldCB7XG5cdFx0b3BhY2l0eTogMTtcblx0XHRoZWlnaHQ6IDEwZW07XG5cdFx0bWF4LWhlaWdodDogYXV0bztcblx0XHRvdmVyZmxvdzogdmlzaWJsZTtcblx0XHRkaXNwbGF5OiBibG9jaztcblx0XHR0cmFuc2l0aW9uOiBhbGwgJGFuaW1mYXN0O1xuXHRcdC5wYW5lbCB7XG5cdFx0XHRtYXJnaW4tYm90dG9tOiAxZW07XG5cdFx0XHR0cmFuc2l0aW9uOiBhbGwgJGFuaW1mYXN0O1xuXHRcdFx0aGVpZ2h0OiBhdXRvO1xuXHRcdFx0bWF4LWhlaWdodDogaW5pdGlhbDtcblx0XHRcdH1cblx0XHQmICsgI25hdmJhciB7XG5cdFx0XHRkaXNwbGF5OiBub25lO1xuXHRcdH1cblx0fVxuXHQucGFuZWwge1xuXHRcdHRyYW5zaXRpb246IGFsbCAkYW5pbWZhc3Q7XG5cdFx0b3ZlcmZsb3c6IGF1dG87XG5cdFx0aGVpZ2h0OiAwO1xuXHRcdG1heC1oZWlnaHQ6IDA7XG5cblx0XHQucXVlc3Rpb24ge1xuXHRcdFx0dGV4dC1hbGlnbjogbGVmdDtcblx0XHR9XG5cdFx0W3R5cGU9XCJ0ZXh0XCJdLFt0eXBlPVwidGVsXCJdLCB7XG5cdFx0XHRib3gtc2l6aW5nOiBib3JkZXItYm94O1xuXHRcdFx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xuXHRcdFx0aGVpZ2h0OiA0OHB4O1xuXHRcdFx0dGV4dC1hbGlnbjogY2VudGVyO1xuXHRcdH1cblx0XHRiYWNrZ3JvdW5kLWNvbG9yOiAkcHVyZXdoaXRlO1xuXHRcdEBpbmNsdWRlIHNoYWRvdygpO1xuXHRcdEBpbmNsdWRlIGJveHooNCk7XG5cdH1cbn1cbiJdLCJtYXBwaW5ncyI6IkFBa0JBLEFBQUEsSUFBSSxDQUFDO0VBQ0osV0FBVyxFQUFFLFVBQVcsR0FDeEI7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFDSixnQkFBZ0IsRUF0QlQsT0FBTyxHQXVCZDs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNOLFVBQVUsRUFBRSxNQUFPLEdBRW5COztBQUNELEFBQUEsU0FBUyxDQUFDO0VBQ1QsVUFBVSxFQUFFLE1BQU87RUFDbkIsVUFBVSxFQUFFLEdBQUksR0FLaEI7RUFQRCxBQUdDLFNBSFEsQ0FHUixDQUFDLENBQUM7SUFDRCxjQUFjLEVBQUUsS0FBTTtJQUN0QixhQUFhLEVBQUMsR0FBRyxDQUFDLEtBQUssQ0FBQyxrQkFBSSxHQUM1Qjs7QUFHRixBQUFBLE9BQU8sQ0FBQztFQUNQLGVBQWUsRUFBRSxJQUFLO0VBQ3RCLGNBQWMsRUFBRSxTQUFVO0VBQzFCLE9BQU8sRUFBRSxLQUFNO0VBQ2YsS0FBSyxFQUFDLElBQUs7RUFDWCxTQUFTLEVBQUUsS0FBTTtFQUNqQixVQUFVLEVBQUUsTUFBTztFQUNuQixnQkFBZ0IsRUFBRSxJQUFLO0VBQ3ZCLEtBQUssRUFBQyxJQUFLO0VBQ1gsV0FBVyxFQUFFLENBQUU7RUFDZixNQUFNLEVBQUUsTUFBTztFQUNmLFVBQVUsRUFBRSxHQUFJLEdBQ2hCOztBQUVELEFBQUEsT0FBTyxDQUFDO0VBQ1AsZ0JBQWdCLEVBdERMLElBQUk7RUF1RGYsYUFBYSxFQUFFLEdBQUk7RUE3Q25CLFVBQVUsRUFBRSxDQUFDLENBQUMsQ0FBQyxDQVBILEdBQUcsQ0FERixrQkFBSTtFQWFqQixVQUFVLEVBQUUsQ0FBQyxDQUFDLENBQUMsQ0FERixLQUFRLENBWlIsa0JBQUksR0F3RGpCOztBQUVELEFBQUEsU0FBUyxDQUFDO0VBQ1QsVUFBVSxFQUFFLEdBQUcsQ0F4REwsSUFBSTtFQXlEZCxPQUFPLEVBQUMsQ0FBRTtFQUNWLE1BQU0sRUFBRSxDQUFFO0VBQ1YsUUFBUSxFQUFFLElBQUssR0FxQ2Y7RUF6Q0QsQUFBQSxTQUFTLEFBS1AsT0FBTyxDQUFDO0lBQ1IsT0FBTyxFQUFFLENBQUU7SUFDWCxNQUFNLEVBQUUsSUFBSztJQUNiLFVBQVUsRUFBRSxJQUFLO0lBQ2pCLFFBQVEsRUFBRSxPQUFRO0lBQ2xCLE9BQU8sRUFBRSxLQUFNO0lBQ2YsVUFBVSxFQUFFLEdBQUcsQ0FsRU4sSUFBSSxHQTRFYjtJQXJCRixBQVlFLFNBWk8sQUFLUCxPQUFPLENBT1AsTUFBTSxDQUFDO01BQ04sYUFBYSxFQUFFLEdBQUk7TUFDbkIsVUFBVSxFQUFFLEdBQUcsQ0FyRVAsSUFBSTtNQXNFWixNQUFNLEVBQUUsSUFBSztNQUNiLFVBQVUsRUFBRSxPQUFRLEdBQ25CO0lBakJKLEFBa0JNLFNBbEJHLEFBS1AsT0FBTyxHQWFILE9BQU8sQ0FBQztNQUNYLE9BQU8sRUFBRSxJQUFLLEdBQ2Q7RUFwQkgsQUFzQkMsU0F0QlEsQ0FzQlIsTUFBTSxDQUFDO0lBQ04sVUFBVSxFQUFFLEdBQUcsQ0E5RU4sSUFBSTtJQStFYixRQUFRLEVBQUUsSUFBSztJQUNmLE1BQU0sRUFBRSxDQUFFO0lBQ1YsVUFBVSxFQUFFLENBQUU7SUFXZCxnQkFBZ0IsRUFqR04sSUFBSTtJQVVmLFVBQVUsRUFBRSxDQUFDLENBQUMsQ0FBQyxDQVBILEdBQUcsQ0FERixrQkFBSTtJQWFqQixVQUFVLEVBQUUsQ0FBQyxDQUFDLENBQUMsQ0FERixLQUFRLENBWlIsa0JBQUksR0FrR2hCO0lBeENGLEFBNEJFLFNBNUJPLENBc0JSLE1BQU0sQ0FNTCxTQUFTLENBQUM7TUFDVCxVQUFVLEVBQUUsSUFBSyxHQUNqQjtJQTlCSCxBQStCYyxTQS9CTCxDQXNCUixNQUFNLEVBU0wsQUFBQSxJQUFDLENBQUssTUFBTSxBQUFYLEdBL0JILEFBK0IyQixTQS9CbEIsQ0FzQlIsTUFBTSxFQVNTLEFBQUEsSUFBQyxDQUFLLEtBQUssQUFBVixFQUFhO01BQzNCLFVBQVUsRUFBRSxVQUFXO01BQ3ZCLE9BQU8sRUFBRSxZQUFhO01BQ3RCLE1BQU0sRUFBRSxJQUFLO01BQ2IsVUFBVSxFQUFFLE1BQU8sR0FDbkIiLCJuYW1lcyI6W119 */
